version: "3.7"

services:
  php:
    image: {{ docker_registry_image_php }}
    container_name: php_{{ pr_build }}
    networks:
      - project_{{ pr_build }}

  nginx:
    image: {{ docker_registry_image_nginx }}
    container_name: nginx_{{ pr_build }}
    depends_on:
      - php
    labels:
      - traefik.http.routers.{{ pr_build }}-nginx.rule=Host(`{{ pr_build }}.rpstaging.com`)
      - traefik.http.routers.{{ pr_build }}-nginx.entrypoints=http
      - traefik.http.routers.{{ pr_build }}-nginx.middlewares=redirect@file
      - traefik.http.routers.{{ pr_build }}-nginxs.rule=Host(`{{ pr_build }}.rpstaging.com`)
      - traefik.http.routers.{{ pr_build }}-nginxs.entrypoints=https
      - traefik.http.routers.{{ pr_build }}-nginxs.tls=true
    networks:
      - default
      - project_{{ pr_build }}

networks:
  default:
    external:
      name: gateway
  project_{{ pr_build }}:
    internal: true