version: "3.7"

services:
  php:
    build:
      context: .
      target: symfony_php
      args:
        SYMFONY_VERSION: ${SYMFONY_VERSION:-}
        STABILITY: ${STABILITY:-stable}
    healthcheck:
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 30s
    volumes:
      # Comment out the next line in production
      - ./:/srv/app:rw,cached
    environment:
      - SYMFONY_VERSION

  nginx:
    build:
      context: .
      target: symfony_nginx
    depends_on:
      - php
    volumes:
      # Comment out the next line in production
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./public:/srv/app/public:ro
    labels:
      - traefik.http.routers."{{ pr_build }}"-nginx.rule=Host(`"{{ pr_build }}".rpstaging.com`)
      - traefik.http.routers."{{ pr_build }}"-nginx.entrypoints=http
      - traefik.http.routers."{{ pr_build }}"-nginx.middlewares=redirect@file
      - traefik.http.routers."{{ pr_build }}"-nginxs.rule=Host(`"{{ pr_build }}".rpstaging.com`)
      - traefik.http.routers."{{ pr_build }}"-nginxs.entrypoints=https
      - traefik.http.routers."{{ pr_build }}"-nginxs.tls=true

networks:
  default:
    external:
      name: gateway
  project2:
    internal: true